{%include 'header.html' %}
<form method="POST" action="/update" enctype="multipart/form-data">
    <div class="card">
        <div class="card-header">
            Modificar Empleado
        </div>
        <div class="card-body">
            <p class="card-text">
                <!--podemos usar en vez de hidden class="d-none"-->
                <input hidden type="text" value="{{empleado[0]}}" name="txtId" id="txtId"/> 
                <div class="form-group">
                    <label for="txtnombre">Nombre:</label>
                    <input type="text" name="txtnombre" id="txtnombre" value="{{empleado[1]}}"></label>
                </div>
                <div class="form-group">
                    <label for="txtcorreo">Correo:</label>
                    <input type="email" name="txtcorreo" id="txtcorreo" value="{{empleado[2]}}"></label>                    
                </div>
                <div class="form-group">
                    <label for="txtFoto">Foto de perfil:</label>
                    <img width="80" src="{{url_for('uploads',nombreFoto=empleado[3])}}" alt="Foto de perfil" class="img-thumbnail">
                    <input type="file" name="txtFoto" id="txtFoto"></label>                    
                </div>
                <div class="form-group">
                    <input class="btn btn-success" type="submit" value="Modificar empleado">
                    <a class="btn btn-primary" href="{{url_for('index')}}">Regresar</a>                    
                </div>
            </p>
        </div>
    





    </div>
</form>
{%include 'footer.html' %}